@import "../styles/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;

  /* Background pattern */
  /* background:
  linear-gradient(
    180deg,
    rgba(11, 17, 32, 0.2),
    rgba(11, 17, 32, 0.35)
  ),
  url("/images/background.png"); */
  background-color: var(--color-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  color: var(--color-text);
  font-family: var(--font-title);

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

p,a, button {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}